.div1{
    background-color: green;
    margin-right:40vw;
    text-align: center;
    padding: 0.5%;
    font-size: 3vh;
}


.div2{
    background-color: rgba(10, 163, 10, 0.87);
    margin-right:40vw;
    margin-left: 10vw;
    margin-top: 1%;
    text-align: center;
    padding: 0.5%;
    font-size: 3vh;
}




.div3{
    background-color: rgba(16, 212, 16, 0.719);
    margin-right:40vw;
    margin-left: 20vw;
    margin-top: 1%;
    text-align: center;
    padding: 0.5%;
    font-size: 3vh;
}




.div4{
    background-color: rgba(47, 209, 47, 0.603);
    margin-right:40vw;
    margin-left: 30vw;
    margin-top: 1%;
    text-align: center;
    padding: 0.5%;
    font-size: 3vh;
}



.div5{
    background-color:rgba(85, 228, 85, 0.534);
    margin-right:40vw;
    margin-left: 40vw;
    margin-top: 1%;
    text-align: center;
    padding: 0.5%;
    font-size: 3vh;
}

.div6{
    background-color: rgba(85, 228, 85, 0.445);
    margin-right:40vw;
    margin-left: 50vw;
    margin-top: 1%;
    text-align: center;
    padding: 0.5%;
    font-size: 3vh;
}
