body{
    background-color: grey;
}

.azul{
    border: 1vw solid blue;
    padding: 30px;
    padding-bottom: 10vh;
    width: 50%;
    margin: auto;
    background-color: rgb(155, 155, 243);
}

.circulo {
    background: rgb(238, 238, 238);
    border: 1vw solid red;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 50px;
}

.preto{
    border-bottom: 2vw dashed black;
    color: white;
    margin-top: 40vh;
    padding: 15px;
}